# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# Logs
*.log

# Model / artifacts (optional - for ML projects)
*.pkl
*.joblib

# virtual environment
venv/*